.transaction-history {
    width: 400px;
    margin: 0 auto;
  }
  th {
    padding: 5px 0;
  
    background-color: #087d92;
    color: #fff;
    border: 1px solid rgb(232, 232, 232);
  }
  
  table {
    font-size: 14px;
    border-collapse: collapse;
    border: 1px solid rgb(232, 232, 232);
  }
  td {
    padding: 5px 0;
    border: 1px solid rgb(232, 232, 232);
    text-align: center;
    background-color: #fff;
  }

  .light {
    background: #ffffff;
  }
  .dark {
    background: #ebf1f4;
  }